<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Is completed</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.is_completed %></td>
        <td><%= link_to 'Edit', edit_to_do_list_task_path(id: task.id, to_do_list_id: @to_do_list.id) %></td>
        <td><%= link_to 'Destroy', to_do_list_task_path(id: task.id, to_do_list_id: @to_do_list.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_to_do_list_task_path %>
